.sale-banner{
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin: 30px 10px 60px 30px;
    border-radius: 10px;
    gap: 30px;
    background: linear-gradient(100.88deg, #00493e 29.03%, #00e784 154.38%);
    position: relative;
}

.right img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.left{
    padding: 60px;
    
}