.text-color-ffffff{
    color: #FFFFFF;
}

.text-color-00493e{
    color: #00493e;
}

.text-color-D6FFEA{
    color: #D6FFEA;
}

.background-color-7f5ffa{
    background: #7f5ffa;
}

.background-color-001942{
    background: #001942;
}
